.products{
    background: #ece5e5;
    background: #fdf7ff;
    flex-grow:1;
    flex: 1 0 auto;
}
.mat-paginator {
background: #ecdbe9;
}
.sort-panel {
    display: flex;
    justify-content: flex-end; 
    flex-grow: 3;
    background: #fdf7ff;
}
