<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>
<app-product-filter [brands]="productsBrands$"  [productTypes]="productsTypes$"  *ngIf="showPaginator"></app-product-filter>

<div class="products">
    <app-product-list [productList]="products$"></app-product-list>
</div>

<mat-paginator *ngIf="showPaginator" #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true" [length]="totalSize$ | async" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
</mat-paginator>