.productList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* Column Gap */
  .productList > * {
    box-sizing: border-box;
  }
  .productList > *:not(:last-child) {
    margin-right: 32px;
    padding: 32px;
  }
  /* Item sizing */
  .productListItem {
    flex: 0 1 calc(33.3% - 32px);
  }
  /* medium size viewport */
  @media screen and (max-width: 959px) {
    /* Column Gap */
    .productList > *:not(:last-child) {
      margin-right: 32px;
      padding: 32px;
    }
    /* Item sizing */
    .productListItem {
      flex: 0 1 calc(50% - 32px);
    }
  }
  /* small size viewport */
  @media screen and (max-width: 599px) {
    .productList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .productList > *:not(:last-child) {
      margin-right: unset;
      margin-bottom: 32px;
    }
  }