
product ID : {{product.id}}
<mat-card class="example-card">
    <img mat-card-image src="{{product.image}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <strong>
            <p>Name: {{product.name}}</p>
            <p>Slug: {{product.slug}}</p>
            <p>Brand: {{product.brand}}</p>
            <p>Type: {{product.type}}</p>
            <p>Price: {{product.price}}</p>
            <p>Size: {{product.size}}</p>
            <star-rating   [readOnly]="true" 
             [showHalfStars]="true"  [starType]="'svg'" [rating]="getItemRating(product.rating)" ></star-rating>
        </strong>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
    </mat-card-actions>
</mat-card>




